@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'TexGyreAdventor';
  src: url('../public/fonts/texgyreadventor-regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'TexGyreAdventor', sans-serif;  /* Updated font-family */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* new added css */
body {
  margin: 0;
  overflow-x: hidden;
  background-color: #11151C;  /* Changed from black */
  color: #fff;      /* light text color */
}

main {
  position: relative;
  z-index: 1;
  mix-blend-mode: normal; /* Ensure main content isn't affected by cursor blend mode */
}

/* Optional: Make all text inverted when cursor hovers over it */
* {
  mix-blend-mode: normal;
}

.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  background: black;
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
}

/* Add these new styles */
html {
  scroll-behavior: smooth;
}

/* Add these cursor styles */
button,
a,
[role="button"] {
  cursor: none !important; /* Force no default cursor */
}

body {
  cursor: none !important; /* Force no default cursor */
}

/* If you want to ensure no default cursor anywhere */
* {
  cursor: none !important;
}

::selection {
  background-color: #9bd1fe; /* Change this to any color you want */
  color: #000000; /* This is the text color when selected */
}

/* For Firefox */
::-moz-selection {
  background-color: #9bd1fe;
  color: #000000;
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #11151C;
}

::-webkit-scrollbar-thumb {
  background: #697D95;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A88E9D;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #697D95 #11151C;
}